CLERK_PUBLISHABLE_KEY=pk_test_ZGlzdGluY3QtY2xhbS0xMy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_gaROA9mz4ZhSx6sdAOyFauCDGS2Q3R0KmwFmZ64WzX
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
DATABASE_URL='postgresql://postgres:xuTcTiZXwzCVeqEUgJFehLsewtjAZYbh@yamanote.proxy.rlwy.net:11750/railway'
NEXT_PUBLIC_APP_URL=http://localhost:3000
